<div class="col-xs-12">
    <div class="page-header">
        <h3>
            {{title}} Test
        </h3>
    </div>
</div>
<div class="col-xs-12">
    <div class="alert alert-danger" ng-repeat="err in errors">
        {{err}} <br />
    </div>
    <form ng-submit="addPost(newPost)" name="addPostForm" class="form-horizontal col-xs-12">
        <div class="form-group">
            <div class="input-group multiple-input">
                <input class="form-control" required type="text" placeholder="Title" ng-model="newPost.title" />
                <span class="input-group-btn" style="width:0px;"></span>
                <input class="form-control" required type="url" placeholder="Link" ng-model="newPost.path" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" ng-disabled="addPostForm.$invalid">Add a new post!</button>
                </span>
            </div>
        </div>
    </form>
    <div ng-show="!ready">
        <span class="fa fa-spinner fa-spin"></span> Loading latest posts...
    </div>
    <div ng-repeat="post in posts | orderBy: '-upvotes'" ng-show="ready">
        <span class="fa fa-thumbs-up" ng-click="upVote(post)"></span>
        {{post.upvotes}} - <a ng-href="{{post.path}}">{{post.title}}</a> by {{post.createUser}}
        <a ng-href="#/posts/{{post.id}}"><span class="fa fa-comments" ></span></a>
    </div>
</div>