<!DOCTYPE html>
<html>
    <head>
        <title>Flappy News Service - Providing flappy news since 2016</title>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/app.css">
        <script type="text/javascript" src="javascripts/app.js"></script>
        <script type="text/javascript" src="javascripts/controller.js"></script>
        <script type="text/javascript" src="javascripts/service.js"></script>
        <script type="text/javascripts" src="javascripts/constants.js"></script>
    </head>
    <body ng-app="flapperNewsApp">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <ui-view></ui-view>
            </div>
        </div>
    </body>
</html>